.counter {
  font-size: 18px; /* Increased font size for better readability */
  padding: 10px 15px; /* Increased padding for a larger clickable area */
  border-radius: 8px; /* More rounded corners for a modern look */
  color: var(--bg); /* Changed text color for contrast */
  background: var(--accent); /* Changed background for better visibility */
  border: 2px solid transparent;
  transition: border-color 0.3s, background-color 0.3s; /* Added transition for background color */
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
    background-color: rgba(170, 59, 255, 0.8); /* Darker background on hover */
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}